<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Psuh Miner</display-name>

	<servlet>
		<servlet-name>PushMiner</servlet-name>
		<servlet-class>PushMiner</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PushMiner</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
    
    <context-param>
        <description>Hard Coded Salt - CHANGE THIS!!!</description> 
        <param-name>salt</param-name>
        <param-value>c2c565a8c7dc220ed7d9ff2f34b40dae7864ef0b8189557f0d3b7360ef34e1cd</param-value>
    </context-param>

</web-app>
